*.o
*.a
*.so
*.dll
*.dylib
*.out
*.exe

.DS_Store

.vscode/
*.code-workspace

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
*/build/

*.xcworkspace/
*.xcodeproj/
xcuserdata/

.cache/
compile_commands.json

*.log
